.duties-content{
    width: 95%;
    min-height: 444px;
    background-color: rgb(255, 255, 255,0.2);
    margin: 15px 25px;
    border-radius: 20px;
    padding: 10px 10px;

    display: flex;
    flex-direction: column;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.duties-content h2{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.duties-content h4{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 20px 15px 20px;
}

.duties-content p{
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.right-section-content{
    background-color: rgba(31, 42, 72, 0.95);
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    width: 300px;
    height: 181px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock-active p{
    color: white;
    padding: 5px 70px;
    margin-left: 0px;
    width: fit-content;
    border-radius: 30px;
    background-color: rgb(24, 204, 24);
}

.clock-inactive p{
    color: white;
    padding: 5px 60px;
    margin-left: 0px;
    width: fit-content;
    border-radius: 30px;
    background-color: brown;
    text-align: center;
}

.staff-image img{
    border-radius: 50%;
    border: 2px solid white;
}

.staff-personal-information{
    margin-top: 10px;
}

.staff-all-information{
    min-width: 540px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 100px 10px 15px;
    background-color: rgba(31, 42, 72, 0.95);
    border-radius: 20px;
}

.staff-content{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.assign{
    background-color: brown;
    color: white;
    font-size: 1rem;
    padding: 5px 60px;
    margin-bottom: 0px;
}

.submit-duty{
    background-color: brown;
    color: white;
    width: fit-content;
    padding: 3px 20px;
    margin: 0px 0px 5px 800px;
}

.task-list{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 500;
    margin-left: 10px;
}

.assign-duty-form form{
    margin: 20px 0px;
}

.duties h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px 5px;
}

.duties h5{
    color: white;
    text-decoration: underline rgba(255, 255, 255, 0.7);
}

.duties{
    background-color: rgba(31, 42, 72, 0.95);
    margin: 10px 10px;
    border-radius: 20px;
    min-height: 220px;
    padding: 10px;
}

.empty-pending-task{
    margin: 20px 20px 20px 60px;
    opacity: 0.6;
    font-style: italic;
}