*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root{
    width: 100%;
    height: 100%;
}

body{
    background-color: #0A131C;
}

.dashboard{
    width: 100%;
    min-height: 100vh;

    background-image: url(../assets/dashboardBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
}

.right-side{
    flex:1;
    margin: 0px 15px 0px 0px;
}

.main-content{
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    min-height: 506px;
    border-radius: 20px;
    padding: 15px 0px;
    margin-bottom: 15px;
}

h2{
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px 0px 15px 20px;
}